<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<userState>
    <records>
        <records>
            <level>26</level>
            <moves>330002379850</moves>
        </records>
        <records>
            <level>21</level>
            <moves>30170718</moves>
        </records>
        <records>
            <level>17</level>
            <moves>2083562</moves>
        </records>
        <records>
            <level>17</level>
            <moves>1581204</moves>
        </records>
        <records>
            <level>11</level>
            <moves>338008</moves>
        </records>
        <records>
            <level>11</level>
            <moves>16938</moves>
        </records>
        <records>
            <level>11</level>
            <moves>8091</moves>
        </records>
        <records>
            <level>10</level>
            <moves>8199</moves>
        </records>
        <records>
            <level>9</level>
            <moves>7637</moves>
        </records>
        <records>
            <level>9</level>
            <moves>5794</moves>
        </records>
    </records>
    <settings>
        <TILE_SIZE>96</TILE_SIZE>
        <WIDTH>3</WIDTH>
        <HEIGHT>3</HEIGHT>
    </settings>
</userState>
